    @media only screen and (max-width: 1028px) {
        aside {
            display: none;
        }
        .main-content {
            width: 100%;
        }
    }
    
    @media only screen and (max-width: 990px) {
        .commercial-block {
            display: none;
        }
        div.social-links-footer {
            float: none;
        }
        .footer-nav-list {
            float: none;
        }
        footer {
            text-align: center;
            overflow: visible;
        }
    }
    
    @media only screen and (max-width: 760px) {
        .social-links {
            display: none;
        }
        div.social-links-footer {
            display: block;
        }
        .global-search {
            flex-grow: 1;
            margin-left: 50px;
        }
        .show-menu {
            display: block;
        }
        .header-main-nav-item {
            flex-basis: 100%;
        }
        .header-main-nav-list {
            display: none;
            position: absolute;
            top: 120px;
            height: auto;
            background-color: #35213a;
            width: 100%;
            z-index: 1000;
        }
        .global-baner-title {
            padding-top: 50px;
            transition: 0.7s padding-top;
        }
        div.global-row-border {
            display: none;
        }
        .main-row {
            padding: 0 0px 15px 0;
            margin-bottom: 15px;
        }
        .main-row-media-area-big {
            width: 214px;
            height: 121px;
            margin-right: 0px;
        }
        .main-row-media-list {
            justify-content: center;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .main-row-item {
            margin: auto;
        }
        .global-search {
            margin: auto;
        }
        .one-media-area {
            justify-content: center;
        }
        .commercial-sell-region {
            flex-basis: 100%;
            margin-bottom: 10px;
        }
        .commercial-sell {
            padding: 15px 15px 0px 135px;
        }
        .commercial-sell {
            margin: 15px 0;
        }
    }