@font-face {
    font-family: 'aaux_proboldregular';
    src: url('../fonts/ufonts.com_aaux-probold-webfont.woff2') format('woff2'), url('../fonts/ufonts.com_aaux-probold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 15px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}

p {
    width: 100%
}

.content {
    min-width: 300px;
    margin: 0 auto;
}

header {
    background: #fff;
}

.header-title {
    font-family: 'aaux_proboldregular';
    font-size: 28.5px;
}

.header-stuff {
    max-width: 1316px;
    padding: 0 10px;
    margin: 0 auto;
    height: 67px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.commercial-block {
    width: 310px;
    height: 48px;
}

.global-search {
    min-width: 214px;
    position: relative;
    border: solid 1px rgba(0, 0, 0, 0.12);
}

.global-search i {
    font-size: 15px;
    position: absolute;
    right: 5px;
    top: 8px;
    color: #e0e0e0;
}

.global-search input {
    width: 100%;
    font-size: 12px;
    padding: 8px;
    padding-right: 20px;
}

.social-links {
    font-size: 11px;
    color: #9e7ec1;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;
}

.social-links-title a {
    color: #9e7ec1;
}

.social-social-icon-wraper {
    display: inline-block;
    border-radius: 50%;
    background-color: #5c5c5c;
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.social-social-icon-wraper:hover {
    background-color: #919191;
}

.sicial-icons-group,
.social-links-title {
    display: inline-block;
}

.sicial-icons-group {
    margin-left: 15px;
}

.header-main-nav {
    height: 53px;
    background-color: #35213a;
}

.header-main-nav-list {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
    height: 100%;
    align-items: stretch;
}

.header-main-nav-item {
    flex-grow: 1;
    border: solid 1px rgba(215, 160, 229, 0.12);
    text-align: center;
    line-height: 51px;
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
}

.header-main-nav-item:hover {
    background-color: #9e7ec1;
    text-decoration: none;
}

.header-main-nav-item div {
    height: 100%;
}

.show-menu {
    display: none;
    text-align: center;
    line-height: 51px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

#show-main-menu {
    display: none;
}

#show-main-menu:checked~.header-main-nav-list {
    display: flex;
}

.global-baner {
    background: url('../img/layer-9.png') no-repeat;
    background-size: cover;
    height: 319px;
    color: #fff;
    margin-bottom: 40px;
}

.global-baner-content {
    max-width: 1316px;
    padding: 0 10px;
    margin: 0 auto;
}

.global-baner-title {
    font-size: 48px;
    margin-bottom: 30px;
    font-weight: bold;
    padding-top: 120px;
}

.global-baner-subtitle {
    font-size: 21px;
}

aside {
    width: 300px;
    float: right;
}

main {
    max-width: 1316px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

.main-content {
    width: calc(100% - 299px);
}

.main-row {
    position: relative;
    padding: 0 20px 41px 0;
    margin-bottom: 41px;
}

.main-row-media-list {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.main-row-item {
    flex-basis: 216px;
    margin-right: 10px;
}

.main-row-description-wraper {
    max-height: 69px;
    max-width: 214px;
    color: #919191;
    overflow: hidden;
}

.main-row-media-description {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 214px;
    white-space: nowrap;
    margin-bottom: 10px;
}

.main-row-media-area {
    width: 214px;
    max-height: 121px;
    margin-bottom: 15px;
}

.main-row-title {
    font-size: 28px;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.global-row-border {
    height: 1px;
    background-color: #edeef0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.aside-list-item {
    position: relative
}

a.notext-ecllips {
    white-space: normal;
}

.one-media-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    background-color: #8466a5;
    padding: 15px;
    color: #fff;
    border: solid 1px rgba(249, 249, 249, 0.12);
}

.main-row-media-area-big {
    width: 292px;
    height: 165px;
    margin-bottom: 15px;
    border: solid 1px #adadad;
    margin-right: 20px;
}

.main-row-description-wraper-half {
    flex-basis: 50%;
    flex-grow: 1;
    padding-left: 10px;
}

footer {
    clear: both;
    max-width: 1316px;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-top: 20px;
}

.footer-nav-list {
    float: left;
    text-transform: uppercase;
}

.footer-nav-item {
    font-size: 12px;
    border-right: solid 1px #000;
    padding: 0 8px;
    line-height: 20px;
    vertical-align: middle;
}

a.footer-nav-item:hover {
    color: #8466a5;
}

.footer-nav-item:first-child {
    padding-left: 0;
}

.footer-nav-item:last-child {
    border: none;
}

footer .global-row-border {
    top: 0;
}

.social-links-footer {
    float: right;
}

.social-links-float {
    float: right;
}

aside {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 50px;
    padding-right: 15px;
}

.send-message {
    margin-bottom: 30px
}

.send-message-title {
    font-weight: bold;
    margin-bottom: 15px;
}

.form-group {
    float: left;
    width: 200px;
    border: solid 1px #adadad;
    font-size: 11px;
}

.form-group input {
    width: 100%;
    padding: 5px;
}

.button-singup {
    background-color: #8466a5;
    padding: 7.5px 15px;
    border: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

.asid-main-title {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: normal;
}

.aside-wraper-list {
    background-color: #f6f6f6;
    padding: 0 10px;
}

.aside-img-wraper {
    width: 81px;
    height: 81px;
    top: 7px;
    left: 0px;
    position: absolute;
    border: solid 1px #adadad;
}

.aside-list-item-img {
    width: 100%;
    height: 100%;
}

.aside-list-item-description {
    position: relative;
    padding: 10px 5px 15px 93px;
}

.global-list-item-description-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.banner-wraper-pading {
    padding-top: 20px;
}

.commercial-sell {
    background-color: #f6f6f6;
    position: relative;
    padding: 20px 20px 20px 135px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.commercial-sell-banner {
    position: absolute;
    background: url('../img/sprite.png') 0% 100% no-repeat;
    bottom: 0;
    left: 20px;
    width: 97px;
    height: 115px;
}

.commercial-sell-region {
    flex-basis: 50%;
}

.commercial-sell-region-buton {
    background: url('../img/sprite.png') 0% 28% no-repeat;
    height: 36px;
    width: 120px;
    border: none;
}

.commercial-sell-region-little {
    flex-basis: 30%;
    text-align: center;
}

iframe {
    border: none;
}